In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
%matplotlib inline

In [60]:
#Getting data
player_data = pd.read_csv('Player.csv')
playerstats_data = pd.read_csv('Player_Stats.csv')
country_data = pd.read_csv('Country.csv')
league_data = pd.read_csv('League.csv')
teamatt_data = pd.read_csv('Team_Attributes.csv')
teams_data = pd.read_csv('Team.csv')

In [62]:
#Splitting features and labels
#Features
x = playerstats_data.drop('overall_rating', 1)
x.head(5)
#Labels
y = pd.DataFrame(playerstats_data.iloc[:, [-50]].as_matrix(), columns=['overall_rating'])
y.head(5)

   overall_rating
0            67.0
1            67.0
2            62.0
3            61.0
4            61.0

In [71]:
from sklearn.ensemble import RandomForestClassifier
from numpy import genfromtxt, savetxt

def main():
    #create the training & test sets, skipping the header row with [1:]
    dataset = playerstats_data[1:]    
    target = [x[0] for x in dataset]
    train = [x[1:] for x in dataset]
    test = genfromtxt(open('Data/test.csv','r'), delimiter=',', dtype='f8')[1:]
    
    #create and train the random forest
    #multi-core CPUs can use: rf = RandomForestClassifier(n_estimators=100, n_jobs=2)
    rf = RandomForestClassifier(n_estimators=100)
    rf.fit(train, target)

    savetxt('Testing.csv', rf.predict(test), delimiter=',', fmt='%f')

if __name__=="__main__":
    main()

In [36]:
#Getting data
matches_data = pd.read_csv('Match.csv')
matches_data.head(5)

,Unnamed: 0,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,...,4.0,1.65,3.40,4.50,1.78,3.25,4.0,1.73,3.40,4.20
1,2,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,...,3.0,2.00,3.25,3.25,1.85,3.25,3.0,1.91,3.25,3.60
2,3,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,...,7.0,1.45,3.75,6.50,1.50,3.75,5.0,1.44,3.75,6.50
4,5,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,...,1.0,4.50,3.40,1.65,4.50,3.50,1.0,4.75,3.30,1.67